@import url(http://fonts.googleapis.com/css?family=Jockey+One|Gentium+Book+Basic:400,400italic,700,700italic);


body {
   font-family: 'Gentium Book Basic', serif;
}

@page {
    size: 148mm 210mm;
    /*margin: 2in 2in 2in 2in;*/
}

img {
    image-resolution: from-image;
    max-height: 5.87in;
    max-width: 4.00in;
}

.imagecaption {
font-size: 9pt; 
padding-left: .2in;
line-height: 18px;
text-align: justify;
font-weight: normal;
display:block;
}

sup  {
font-size: 7pt; 
line-height: 10px;
}


body {
    background-color: #efefef;
}

.page {
    height: 210mm;
    width: 148mm;
    position: relative;
    page-break-after: always;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
 
}




@media screen {
    .page {
        border: solid 1px #000;
        margin-bottom: .2in;
    }
}


.contents {
    height: 6.67in;
    width: 4.03in;
    position: absolute;
    bottom: .8in;
    /*left: .8 in;*/
   /*border: solid 1px #000;*/
}


.page:nth-child(odd) .contents {
    left: .9 in;
}

.page:nth-child(even) .contents {
    left: .8 in;
}


.pagenumber {
    margin-top: .2in;
    position: absolute;
    bottom: .4in;
    left: 0;
    right: 0;
    font-size: 11pt; 
}

.header {
    margin-bottom: .2in;
    position: absolute;
    top: .4in;
    left: 0;
    right: 0;
   font-size: 10pt; 


}


.header .initial {
    display: none;
}


.header .author {
display: none;
}
.header .comma {
display: none;
}

.header .subtitle {
display: none;
}

.header .punctuation {
display: none;
}

.header .image, .header .imagetitle {
display: none;
}
.page:nth-child(odd) .pagenumber, .page:nth-child(odd) .header {
    margin-right: .9in;
    margin-left: 1.0in;
    text-align: right;
    /*width: 3.00in;*/
}

.page:nth-child(even) .pagenumber, .page:nth-child(even) .header {
    margin-left: .8in;
    text-align: left;
}

.page:nth-child(odd) .header .section {
    display: none;
}

.page:nth-child(even) .header .chapter {
    display: none;
}
/*
.chapter .page:first-child .pagenumber {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}*/

.section .page:first-child .pagenumber, #frontmatter .page:first-child .pagenumber {
    display: none;
}

.section .page:first-child .header,.chapter .page:first-child .header {
    display: none;
}






#toc-title:before {
    content: "Contents";
}

#toc-title {
    font-size: 22px;
    font-weight: normal;
    text-align: left;
     padding-bottom:.3in;
}


.toc-entry {
width: 4.0in;
display:block;
/*border: solid 1px #000;*/
 padding-bottom:.2in;
}


.toc-entry .initial {
/*font-weight: normal;*/
display: none;
}

.toc-entry .title {
font-weight: normal;
width: 3.5in;
font-size: 15px;
padding-left: .1in;
display:inline-block;
/*border: solid 1px #000;*/

}

.toc-entry .subtitle {
width: 3.5in;
font-size: 15px;
display:inline-block;

}

.toc-entry .author {
width: 3.5in;
font-weight: normal;
font-size: 14px;
margin-top: 6px;
/*padding-left: .2in;*/
display:inline-block;
/*border: solid 1px #000;*/

}

.toc-entry .comma {
display: none;
}

.toc-entry .toc-pagenumber { 
font-weight: normal;
display:inline-block;
vertical-align: text-bottom;
font-size: 16px;
float:right;
}

.toc-entry .image, toc-entry .imagetitle {
display: none;
}

.toc-entry.section .toc-pagenumber{
display: none;
}

.toc-entry.section {
    font-weight: normal;
    font-size: 16px;
    text-transform:uppercase;
    padding-bottom:.1in;
}

/*.toc-entry.pagenumber {
    font-weight: normal;
    font-size: 16px;
    vertical-align: text-top;
    display: inline-block;
}*/


#booktitle {
    margin-top:1.7in;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}

#booksubtitle{
    font-size: 22px;
    margin-top:.2in;
    font-weight:normal;
    text-align: center;
}

#bookeditors{
    padding-top: 1.5in;
    font-weight: normal;
    text-align: center;
    font-size: 15px;
}

#bookpress{
    padding-top: 1.8in;
    font-weight: normal;
    text-align: center;
    font-size: 10px;
}

#copyrightpage {

    font-weight: normal;
    font-size: 11px;
    padding-top: .2in;

}


.pagebreak {
    -webkit-region-break-after: always;
}

.pagebreakbefore {
    -webkit-region-break-before: always;
}

.objavi-subsection-heading {
	line-height: 120px !important;
 /* work-around to make section title pages no longer than one page */
     font-size: 22px;
    font-weight: bold;
    text-align: left;
    display: none;
}

.objavi-chapter .initial {
display: none;
}

.objavi-subsection{
display: none;
}

p { 

font-size: 11pt; 
line-height: 20px;
text-align: justify;

}

a { 

color: #000;
text-decoration: none

}

ol {

font-size: 10pt; 
line-height: 20px;
text-align: justify;
}

h1 {
font-size: 15pt; 
}

h1 .initial{
display: none;
}

h1 .subtitle{

}

h1 .author{
display: block;
margin-top: .2in;
font-weight: normal;
}

h1 .comma{
display: none;
}

h2 {
font-size: 13pt; 
}

h3 {
font-size: 13pt;
font-weight: normal; 

}

h4 {
font-size: 11pt; 
}

h5 {
font-size: 10pt; 
font-weight: normal;
text-align: justify;
line-height: 18px;
padding-left: .4in;
display: block;
}







